<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f81f74a21e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Desafio Henricão</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo"><a href="/">NoteApp</a></div>
            <div class="newNote"><a href="/create">New Note</a></div>
        </header>